<h1>Products</h1>
<% @allproducts.each do |product| %>
	<div>
		<%= product.name %> sold by <%= product.dealer.dealerpersonalinfo.shopname %>
		<%= link_to 'Add to Cart', cart_path(product.id), method: :patch %>
	</div>
<% end %>
