<div class="container" style="margin-top: 130px;">
<h1>New Dealerpersonalinfo</h1>

<%= render 'form', dealerpersonalinfo: @dealerpersonalinfo %>

<%= link_to 'Back', dealerpersonalinfos_path %>
</div>
