<h1>Pending Delivery for <%= Customer.find(@key).customerpersonalinfo.name %></h1>
<div>
<% @allptdbc.each do |ptdbc| %>
	Product: <%= Product.find(ptdbc.product_id).name %><br/>
	Qty: <%= ptdbc.quantity %><br/>
	Price: <%= Product.find(ptdbc.product_id).price*ptdbc.quantity %>
	<hr/>
<% end %>
</div>
<div>
	Enter Conf. Key got from user:
</div>