<h1>Currenty pending delivery</h1>
<% @allpending.each do |currpending| %>
	<%= currpending.product.name %>
	<span>x</span><%= currpending.quantity %>
	<span> for </span><%= currpending.product.price*currpending.quantity %>
	<br/>
<% end %>
<% @key = @allpending[0].confkey %>
<div class="space-1"></div>
<div class="key">
	<%= @key %>
</div>