<div class="container" style="margin-top: 130px;">
<h1>New Customer</h1>
<div style="margin-bottom: 3rem;">Step 1</div>

<%= render 'form', customer: @customer %>

<%= link_to 'Back', customers_path %>
</div>
