<h3>Orders waiting to be delivered to you</h3>
<% @allpo.each do |key, value| %>
	Conf. Key: <%= key %>
	<br>
	Total Products: <%= value %>
	<br>
	Ordered: <%= time_ago_in_words(Pendingorder.where(customer_id: current_user.id).where(confkey: key)[0].created_at) %> ago
	<br>
	<%= link_to 'Show', pending_order_userbc_path(key) %>
	<br>
	<hr>
<% end %>