<h1>Editing Customerpersonalinfo</h1>

<%= render 'form', customerpersonalinfo: @customerpersonalinfo %>

<%= link_to 'Show', @customerpersonalinfo %> |
<%= link_to 'Back', customerpersonalinfos_path %>
