// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.carousel-imgs {
	width: 100%;
}

.price {
  font-size: 1.8rem;
  font-weight: lighter;
  margin-top: 16px;
}

.product-box-info {
	white-space: nowrap; 	
	overflow: hidden;	
	text-overflow: ellipsis; 
}

.servicableornot {
	background-color: #ff9900;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  width: 100%;
}

.servicable {
  background-color: #28a745;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  width: 100%;
}

.notservicable {
  background-color: #dc3545;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  width: 100%;
}