// Place all the styles related to the misc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.heading {
	font-family: 'Dosis', sans-serif;
}

.pendings-productbox {
	position: relative;
	min-height: 40px;
}

.pendings-absolute {
	position: absolute;
}

.pendings-confkey {
	top: 8px;
	right: 8px;
}